<nav class="nav" role="navigation">
  <ul class="nav__list">
    {%- for item in site.data.navigation %}
    <li class="nav__item"><a href="{{ item.url }}">{{ item.title }}</a></li>
    {%- endfor %}
    <li class="nav__item">
      <div class="toggle-control" id="dark-mode-toggle" title="toggle theme dark/light">
        <input type="button" class="toggle" aria-label="toggle theme dark/light">
      </div>
    </li>
  </ul>
</nav>

{%- if page.title %}
<div class="post">
  <div class="post_details">
    <h1 class="post__title">{{ page.title }}</h1>
    <p class="post__date">{{ page.date | date: '%B %-d, %Y' }}</p>
    <a class="post__back" href="/">&lt;-- home</a>
  </div>
{% endif -%}
