<nav class="nav" role="navigation">
  <ul class="nav__list">
    {%- for item in site.data.navigation %}
    <li class="nav__item"><a href="{{ item.url }}">{{ item.title }}</a></li>
    {%- endfor %}
  </ul>
</nav>

{%- if page.title %}
<div class="post__details">
  <h2 class="post__title">{{ page.title }}</h2>
  {% if page.name != '404.html' %}
  <div class="post__top">
    <p><a class="post__back" href="/">&lt;-- home</a></p>
    <p class="post__date">{{ page.date | date: '%B %-d, %Y' }}</p>
  </div>
 {% endif %}
</div>
{% endif -%}
