<nav class="nav" role="navigation">
  <ul class="nav__list">
    {%- for item in site.data.navigation %}
    <li class="nav__item"><a href="{{ item.url }}">{{ item.title }}</a></li>
    {%- endfor %}
  </ul>
</nav>

{%- if page.title %}
<div class="post">
  <div class="post_details">
    <h2 class="post__title">{{ page.title }}</h2>
    <div class="post__top">
      <a class="post__back" href="/">&lt;-- home</a>
      <p class="post__date">{{ page.date | date: '%B %-d, %Y' }}</p>
    </div>
  </div>
{% endif -%}
