.toggle-control {
  position: relative;
  width: 18px;
  height: 18px;
  background: linear-gradient( 90deg, black, black 50%, white 50%, white 50%, white 50% );
  border-radius: 50%;
  border: 2px solid;

  .toggle {
    color: transparent;
    background: transparent;
    border: transparent;
    }
}

.toggle:focus {
  width: 20px;
  height: 20px;
}
