---
---

@import "reset";
@import "config";

:root {
  --clr-light: #f2f3f4;
  --clr-dark: #00102a;
  --clr-blue-green: #7fffd4;
  --clr-purple-light: #f3cfff;

  --clr-code: #505050;
  --clr-bg-code: #ffffea;

  /* font styles */
  --fs-text: 1.15rem;
  --fw-bold: 700;

  /*dark color scheme*/
  --background: var(--clr-dark);
  --foreground: var(--clr-light);
  --secondary: var(--clr-blue-green);
  --accent: var(--clr-purple-light);
}

@media (min-width: 600px) {
  :root {
    --fs-text: 1.3rem;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inconsolata';
}

hr {
  margin-bottom: 1.25em;
}

ul, ol {
  list-style: none;
}

h1 {
  margin-bottom: 0.75em;
  font-weight: var(--fw-bold);
}

p {
  font-size: var(--fs-text);
  line-height: 150%;
}

a {
  color: var(--secondary);
  text-decoration: none;

  &:visited {
    color: var(--accent);
    text-decoration: none;
  }

  &:hover {
    color: var(--secondary);
    text-decoration: underline;
  }

  &:active, &:focus {
    color: var(--secondary);
    text-decoration: none;
  }
}

.main-heading {
  font-size: 1.25rem;
}

.blog-list {
  padding: 0;
  font-size: var(--fs-text);
}

.blog-list-item {
  display: flex;
  padding: 0.2em 0.25em 0.2em 1em;
}

.blog-list-date {
  min-width: 6em;
}

.blog-list-link {
  &:hover::after {
    transform: scaleX(1);
    transform-origin: 0 50%;
  }

  &::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--secondary);
    transform: scaleX(0);
    transition: transform .35s ease-in-out;
    transform-origin: 100% 50%;
  }
}

.blog-list-item > a:hover {
  text-decoration: none;
}

a.blog-list-link {
  &:hover {
    text-decoration: none;
  }
}

.wrapper {
  max-width: 950px;
  margin: auto;
  padding: 3.5em 2em 2em 2em;
}

.header__site-title a {
  color: var(--foreground);
}

.nav {
  border-bottom: 1px solid var(--foreground);
  padding-bottom: 1em;
  margin-bottom: 1.25em;

  .nav__list {
    padding: 0;
    font-size: var(--fs-text);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav__item {
    display: inline;
    padding: 0;
    padding-left: 5px;
  }
}

@media screen and (max-width: $breakpoint) {
  .blog-list-item {
    padding: 0.5em 0.25em 0.25em 0;
  }

  .wrapper {
    padding: 20px;
    padding: 1.25em;
  }

  .header__site-title {
    font-size: 1.5em;
    margin-bottom: 0.75em;
  }

  .nav {
    margin-bottom: 1.25em;
  }
}

.nav__item {
  &:hover::after {
    transform: scaleX(1);
    transform-origin: 0 50%;
  }

  &::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--secondary);
    transform: scaleX(0);
    transition: transform .35s ease-in-out;
    transform-origin: 100% 50%;
  }
}

.nav__item > a:hover {
  text-decoration: none;
}

.post-year {
  font-weight: var(--fw-bold);
  margin-top: 1em;
}

/* post page */
.post {
  &__details {
    margin-bottom: 1.1em;
  }

  &__title {
    font-weight: var(--fw-bold);
    margin-top: 1.2em;
    margin-bottom: 1em;
    text-align: center;
  }

  &__date {
    text-align: right;
  }

  &__content {
    h1,
    h2 {
      font-size: 1.5em;
      margin-top: 2em;
      margin-bottom: 1.25em;
    }

    p {
      margin-bottom: 1.2em;
    }

    blockquote {
      padding-left: 1em;
      font-style: italic;
      border-left: 1px solid var(--accent);
    }

    a:hover {
      font-weight: var(--fw-bold);
    }

    ul {
      list-style: circle;
    }

    ol {
      list-style: decimal;
    }

    ul, ol {
      margin-bottom: 1.5em;
      padding-left: 2em;

      li {
        line-height: 150%;
        font-size: var(--fs-text);
        margin-bottom: 0.75em;
      }
    }
  }
}

/* code styling */

.language-plaintext.highlighter-rouge {
  margin-bottom: 1.5em;
}

code {
  padding: 3px;
  font-size: 0.8em;
  border-radius: 3px;
  color: var(--background);
  background: var(--foreground);
}

div.highlight {
  overflow: auto;
}

.highlight {
  font-size: var(--fs-text);
  margin: 5px;
  margin-bottom: 10px;
  padding: 8px;
  line-height: 1.25;
  border-radius: 3px;
  background: var(--clr-bg-code);

  code {
    background: none;
    color: var(--clr-code);
  }
}

/* post bottom navigation */
.post__navigation {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: var(--fs-text);
}

.post__prev-url {
  margin-right: 10px;
}

.post__prev {
  display: block;
  margin-bottom: 15px;
}

.post__next-url {
  margin-left: 10px;
  text-align: right;
}

.post__next {
  display: block;
  margin-bottom: 15px;
}

.post__return {
  text-align: center;
  margin: 2em 0 1.5em 0;
}

/* about page */
.about {
  &__title {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  &__content {

    h1 {
      font-size: 1.2em;
      font-style: italic;
      margin-top: 2em;
      margin-bottom: 0.25em;
   }

    p {
      margin-bottom: 1.2em;
    }
  }
}

