<!DOCTYPE html>
<html lang="en-CA">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- if page.title %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif -%}
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  {% feed_meta %}
  <link rel="icon" href="/assets/img/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <h1 class="header__site-title"><a href="/">{{ site.title }}</a></h1>
      {% include navigation.html %}
    </header>
    {{ content }}
  </div>
  <hr>
  <footer>
    <p class="footer__contact">You can email me at <br><span class="footer__text-highlight">hey</span> @ this domain</p>
  </footer>
</body>
</html>
