---
layout: default
---

  <main class="post__content">
    <p>Hey Heather, it's me again.</p>
    {{- content }}
    {%- if page.eof -%}
    <p class="post__EOF">{{ page.eof }}</p>
    {%- endif -%}
    <div class="post__navigation">
      {%- if page.previous.url %}
      <a class="post__prev-url" href="{{page.previous.url}}"><span class="post__prev">&laquo; Prev:</span>{{page.previous.title}}</a>
      {%- endif %}
      {%- if page.next.url %}
      <a class="post__next-url" href="{{page.next.url}}"><span class="post__next">Next &raquo;</span>{{page.next.title}}</a>
      {%- endif %}
    </div>
    <div class="post__return">
      <a class="post__back" href="/">home</a>
    </div>
  </main>
</div>
